.jewerly{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.jewerlyitem{
    width: 400px;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px 1px rgb(207, 207, 207);
    border-radius: 15px;
    margin-top: 15px

}
.jewerlyModel{
  font-weight: 400;
  font-family: 'Poppins', sans-serif;;
  position: relative;
  top: 8px;
}

.jewerlyitem>img {
width: 350px;
height: 280px;
object-fit: contain;
}

.jewerlyitemLinkdiv{
    width: 400px;
    text-align: center;
}

.jewerlyprice{
    font-family: 'Poppins', sans-serif;;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    top: 10px;
    font-weight: bolder;

}

.itemImages>div {
    display: inline-flex;
}





.jewerlylink{
text-decoration: none;
color: black;
font-family:  'Poppins', sans-serif;
font-size: 19px;
font-weight: bolder;
}

@media screen and (max-width:431px){
    .jewerlyitem{
        width: 350px;
        height: 600px;
       
    
    }
}