@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.discount_container {
  position: relative;
  width: 385px;
  height: 150px;
  background:linear-gradient(to right, #F6DDD6FF 35%, rgba(219, 233, 249) 100%);
  border-radius: 25px;
  box-shadow: 5px 5px 8px #c5c7c9;

}

.discount_paragraph {
  position: absolute;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-weight: bold;
  left: 0;
  right: 0;
  margin: auto;
  color: black;
  top: 25px;
}